# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Checkpoints
data/
results/
*.pth
*.pt
manifest.csv

# Virtual Environments
venv/
env/
.venv/

# IDEs
.vscode/
.idea/
